#####################################################################
#   Includes
#####################################################################

[include ./mainsail.cfg]
[include ./RGB.cfg]
[include led_progress.cfg]
[include ./nozzle_scrub.cfg]
[include kamp.cfg]
[include hotkey.cfg]
[include bedfans.cfg]
[include Macros.cfg]
[include Stepper.cfg]

[delayed_gcode startup_led]
initial_duration: 0.5
gcode:
    status_led_ready
    _status_button_busy BUTTON=1
    SET_PIN PIN=daylight VALUE=1
    _status_button_busy BUTTON=2
    _status_button_ready BUTTON=4
    _status_button_standby BUTTON=5
    _status_button_ready BUTTON=6
    _status_button_ready BUTTON=7
    _status_button_ready BUTTON=8
    _status_button_ready BUTTON=9
    _status_button_ready BUTTON=10
    _status_button_ready BUTTON=11
    _status_button_ready BUTTON=12
    AUTOTUNE_TMC STEPPER=stepper_x [PARAMETER=auto]
    AUTOTUNE_TMC STEPPER=stepper_y [PARAMETER=auto]
    #AUTOTUNE_TMC STEPPER=stepper_z [PARAMETER=performance]
    #AUTOTUNE_TMC STEPPER=stepper_z1 [PARAMETER=performance]
    #AUTOTUNE_TMC STEPPER=stepper_z2 [PARAMETER=performance]
    #AUTOTUNE_TMC STEPPER=stepper_z3 [PARAMETER=performance]
    #AUTOTUNE_TMC STEPPER=extruder [PARAMETER=auto]

#####################################################################
#   Gcode settings
#####################################################################

[exclude_object]
[respond]

#####################################################################
#   MCU settings
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_400028001051383039343538-if00

[mcu sht36]
canbus_uuid: f5fd5f272dcd

#####################################################################
#   Idle timeout
#####################################################################

[idle_timeout]
gcode:
  LED_OFF  # Turn off the LED immediately
  UPDATE_DELAYED_GCODE ID=printer_off DURATION=7200  # Schedule to run 2 hours after idle
timeout: 3600  # 1 hour

[delayed_gcode printer_off]
gcode:
  {% if printer.idle_timeout.state == "Idle" %}
    M112  # Emergency stop
  {% endif %}

#####################################################################
#   Printer settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 1200  
max_accel: 15000			 
max_z_velocity: 50
max_z_accel: 500
square_corner_velocity: 5.0

#####################################################################
#   Filament runout sensor
#####################################################################

[filament_motion_sensor filament_sensor]
detection_length: 100
extruder: extruder
switch_pin: !PA3
pause_on_runout: True
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected
    status_led_error

[delayed_gcode DISABLEFILAMENTSENSOR]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PB4
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC0
max_power: 0.75
min_temp: 0
max_temp: 120
control: pid
pid_kp: 39.703
pid_ki: 1.495
pid_kd: 263.526

#####################################################################
#   Temperature sensors
#####################################################################

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor FLY-SHT36]
sensor_type: temperature_mcu
sensor_mcu: sht36

[temperature_sensor chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1 

#####################################################################
#	Probe
#####################################################################

[probe]
pin: ^!sht36:PA1
x_offset: 0
y_offset: 0
#z_offset = -0.245
speed: 5.0
lift_speed: 40.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
#   Homing override & Force move
#####################################################################

[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

[homing_override]
gcode:
 _status_button_busy BUTTON=6
 status_led_calibrating
 SET_KINEMATIC_POSITION Z=0
 G0 Z20 F600
 G28 X0 Y0
 G1 X175 Y175 F100000
 G28 Z0
 G1 Z20 F100000 
 status_led_ready
 _status_button_ready BUTTON=6
 
#####################################################################
#   Bed mesh
#####################################################################

[bed_mesh]
speed: 400
horizontal_move_z: 4
mesh_min: 10, 10
mesh_max: 330,330
fade_start: 0.6
fade_end: 10.0
probe_count: 7,7
algorithm: bicubic
#relative_reference_index: 24

#####################################################################
#	ADX345 input shaper
#####################################################################

[mcu host]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: sht36:PA4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 50  # an example

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 50.4
shaper_type_y = mzv
shaper_freq_y = 34.6

#####################################################################
#	Fan control
#####################################################################

[heater_fan hotend_fan]
pin: sht36:PB11
max_power: 1.0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: sht36:PB10
max_power: 1.0
off_below: 0.10

[temperature_fan Raspberry_Pi_temp]
pin: PB2
max_power: 0.94
kick_start_time: 0.5
sensor_type: temperature_host
min_temp: 20
max_temp: 80
control: watermark
max_delta: 4.0
target_temp: 50
shutdown_speed: 0.0

#####################################################################
#	Timelapse
#####################################################################

[gcode_macro _bot_data]
variable_lapse_video_size: 0
variable_lapse_filename: 'None'
variable_lapse_path: 'None'
gcode:
    M118 Setting bot lapse variables

#####################################################################
#	Homing and gantry adjustment routines
#####################################################################
   
[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	25,25
	25,325
	325,325
	325,25
speed: 800
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.0075
max_adjust: 80

#####################################################################
#   Notes
#####################################################################
## 	Common Temperature Sensors
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "PT1000"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.006250, 0.033750, 0.007500
#*# 	-0.005625, 0.000000, 0.013125
#*# 	-0.026250, -0.007500, -0.001875
#*# tension = 0.2
#*# min_x = 125.15
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 130.76
#*# x_count = 3
#*# max_y = 209.22
#*# mesh_x_pps = 2
#*# max_x = 214.83
#*#
#*# [probe]
#*# z_offset = -0.920
